@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.carousel-container .carousel .slide {
  width: 50%; /* adjust this value to change the size of the cards */
}

.carousel-container .control-arrow {
  opacity: 1; /* make the navigation buttons visible */
}
.carousel-container {
  max-width: 800px; /* adjust the maximum width to fit your desired size */
  margin: 0 auto;
}

.carousel .control-arrow {
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  transform: translateY(+350%);
}
/* 
.carousel .control-arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel .control-arrow:active {
  background-color: rgba(0, 0, 0, 0.2);
} */

* {
  @apply transition-colors duration-200
}